html(lang="en")
  head
    meta(charset="utf-8")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src='assets/profileScript.js')
    title Profile Settings
  body
    h1 Profile Settings
      if !settings
        h2.ProfileTitle There seems to be nothing here.
      else
        h2.ProfileTitle Profile of #{settings.username}
        form#changeForm(name="changeForm", action="/profile", method="post")
          section#CustomName
            if settings.wantsCustomName == true
              h2.ProfileCustomName You are currently using the custom name #{settings.CustomName}.
              p To turn off this setting, uncheck the checkbox underneath.
              label(for="wantsCustomName") Do you want a custom name?
              input#NameCheckbox(type="checkbox" name="wantsCustomName" onclick="onChangeCheckbox()" checked)
              label(for="CustomName") Custom name:
              input#NameText(type="text" name="CustomName" value="#{settings.CustomName}")
            else
              h2.ProfileCustomName You are currently not using a custom name and allowing our servers to give you an anonymous name everytime you log in.
              p To turn this setting on, check the checkbox.
              label(for="wantsCustomName") Do you want a custom name?
              input#NameCheckbox(type="checkbox" name="wantsCustomName" onclick="onChangeCheckbox()")
              label(for="CustomName") Custom name:
              input#NameText(type="text" name="CustomName" placeholder="#{settings.CustomName}" disabled="disabled")
              
          section#CustomName  
            if settings.wantsCustomColor == true
              h2.ProfileCustomColor You are currently using the custom color #{settings.CustomColor}.
              p To turn off this setting, uncheck the checkbox underneath.
              label(for="wantsCustomColor") Do you want a custom color?
              input#ColorCheckbox(type="checkbox" name="wantsCustomColor" onclick="onChangeCheckbox2()" checked)
              label(for="CustomColor") Do you want a custom color?
              input#ColorText(type="text" name="CustomColor" value="#{settings.CustomColor}")
            else
              h2.ProfileCustomColor You are currently not using a custom color and allowing our servers to give you a random color everytime you log in.
              p To turn this setting on, check the checkbox.
              label(for="wantsCustomColor") Do you want a custom color?
              input#ColorCheckbox(type="checkbox" name="wantsCustomColor" onclick="onChangeCheckbox2()")
              label(for="CustomName") Custom color:
              input#ColorText(type="text" name="CustomColor" placeholder="#{settings.CustomColor}" disabled="disabled")
          input(type="hidden" name="username" value="#{settings.username}")
          section#formSubmit
            input(type="submit" name="submit" value="Submit")

    
